!!!
%html
  %head
    %title= @title
    %meta(name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %link(rel="apple-touch-icon-precomposed" href="/assets/icon.png")
    %link(rel="apple-touch-startup-image" href="assets/phone-splash.png")
    %link(rel="apple-touch-startup-image" href="assets/landscape-launch.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)")
    %link(rel="apple-touch-startup-image" href="images/portrait-launch.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)")
    = stylesheet_link_tag "sparklefarkle"
    = csrf_meta_tags
  %body
    %div#container
      = yield
  = javascript_include_tag "application"
